1 VERSIONINFO
FILEVERSION 0,3,0,1
PRODUCTVERSION 0,3,0,1
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
BLOCK "StringFileInfo"
{
   BLOCK "040904E4"
   {
      VALUE "CompanyName", "UIS LTD Prod Department\000"
      VALUE "FileDescription", "\000"
      VALUE "FileVersion", "0.3.0.0\000"
      VALUE "InternalName", "Uis.gis.infosystem\000"
      VALUE "LegalCopyright", "UIS LTD\000"
      VALUE "LegalTrademarks", "UIS LTD\000"
      VALUE "OriginalFilename", "uisgis.exe\000"
      VALUE "ProductName", "UIS GIS\000"
      VALUE "ProductVersion", "0.3.0.0\000"
      VALUE "Comments", "\000"
   }
}

BLOCK "VarFileInfo"
{
   VALUE "Translation", 0x0409 0x04E4
}
}
